<nav class="blurred py-4 px-2 md:px-6 md:py-2 flex flex-row justify-between content-center bg-white bg-opacity-60 bg-clip-padding shadow-lg sticky top-0">
    <div id="logo">
        <img class="w-1/2" src="../../../../assets/img/logo-small.png" alt="">
    </div>
    <div id="links">
        <ul class=" hidden md:flex flex-row h-full content-center justify-center">
            <li class="px-2 self-center">features</li>
            <li class="px-2 self-center">login</li>
            <li class="px-2 self-center">signup</li>
        </ul>
    </div>
</nav>